force-app/main/default/flows/CAF_BD_DeleteReqSigContracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Get_Required_Signature_Contracts</name>
        <label>Check Get Required Signature Contracts</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Required_Signature_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Required_Signature_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Req_Sig_Contracts</targetReference>
            </connector>
            <label>Got Required Signature Contracts</label>
        </rules>
    </decisions>
    <description>Record-triggered, before delete. When a Contract and Form is deleted, delete any related Required Signature Contracts.</description>
    <environments>Default</environments>
    <interviewLabel>CAF BD DeleteReqSigContracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAF BD DeleteReqSigContracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Req_Sig_Contracts</name>
        <label>Delete Req Sig Contracts</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>Get_Required_Signature_Contracts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Required_Signature_Contracts</name>
        <label>Get Required Signature Contracts</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Required_Signature_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__Contract_and_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Required_Signature_Contract__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Required_Signature_Contracts</targetReference>
        </connector>
        <object>TREX1__Contract_and_Form__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
