force-app/main/default/flows/Reg_AIAU_HandleContracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Contract_to_Insert_List</name>
        <label>Add Contract to Insert List</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>contract.TREX1__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Form_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Required_for_Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Required_for_Activation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Required_for_Transaction_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Required_for_Transaction_Close__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Valid_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Contract_Valid_For__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Valid_Until__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Valid_Until_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Group_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Group_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Registration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TREX1__Transaction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Primary_Contact_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Primary_Contact_Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Waiver_Require_Initial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Waiver_Require_Initial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Waiver_Require_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Waiver_Require_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Waiver_Require_Signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Waiver_Require_Signature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__caf_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Template_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.TREX1__Waiver_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.TREX1__Waiver_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strFmlContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstContractsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Required_Contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Required_Contracts</name>
        <label>Check Get Required Contracts</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Required Contracts Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Required_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Required_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Required_Contracts</targetReference>
            </connector>
            <label>Got Required Contracts</label>
        </rules>
    </decisions>
    <description>Record-triggered, after insert and after update. Handle required contracts and forms associated at the course session.</description>
    <environments>Default</environments>
    <formulas>
        <name>strFmlContractName</name>
        <dataType>String</dataType>
        <expression>LEFT( 
  {!$Record.TREX1__Contact__r.FirstName} &amp; &quot; - &quot; &amp; {!Loop_through_Required_Contracts.TREX1__Contract_or_Form_Template__r.Name}, 
  80
)</expression>
    </formulas>
    <interviewLabel>Reg AIAU HandleContracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reg AIAU HandleContracts</label>
    <loops>
        <name>Loop_through_Required_Contracts</name>
        <label>Loop through Required Contracts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Required_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contract_to_Insert_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Contracts</name>
        <label>Insert Contracts</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>lstContractsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Required_Contracts</name>
        <label>Get Required Contracts</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Required_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TREX1__reg_Course_Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TREX1__Required_Contract_and_Form__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Required_Contracts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TREX1__reg_Course_Session__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TREX1__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TREX1__Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Contract_and_Form__c</objectType>
    </variables>
    <variables>
        <name>lstContractsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Contract_and_Form__c</objectType>
    </variables>
</Flow>
